#questions{
	width: 70%;
	margin: auto;
	background-color: white;
	opacity: 0.8;
	padding: 15px;
	border-radius: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
}

body{
	background-color: #3F51B5 !important;
}