body{
	background-color: #3F51B5 !important;

}



#main-container{
	background-color: white;
	opacity: 0.9;
	margin: auto;
	padding-top: 1px;
	padding-left: 10px;
	width: 50%;
	margin-top: 50px;
	padding-bottom: 20px;

	text-align: center;
}

#main-photo-frame{
	width: 30%;
	height: 30%;
}